.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text4 {
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.home-text6 {
  text-decoration: underline;
}
